.containerProductPage{
    width: 100vw;
}
    .containerDetailProduct{
        display: flex;
        justify-content: space-around;
        margin: 5vh 5vw;
    }
        .containerImgDetail{
            width: 50%;
        }
            .imgProduct{
                height: 450px;
                width: 100%;
            }

        .containerDetails{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 5vw;
        }
            .brandProduct{
                color: rgb(185, 185, 185);
                height: 5%;
            }
            .nameProduct{
                color: rgb(34, 34, 34);
                height: 10%;
                border-bottom: 2px solid rgb(185, 185, 185);
                margin-top: 5vh;
            }
            .priceProduct{
                font-size: 1.2rem;
                color: var(--color);
                height: 10%;
                margin-top: 5vh;
            }
            .containerAddButton{
                width: 30%;
                height: 65px;
                display: flex;
                align-items: center;
            }
                .buttonAddProduct{
                    width: 50%;
                    height: 50%;
                    border: none;
                    background-color: var(--color);
                    color: var(--colorFont);
                    font-weight: 500;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    transition: background-color .3s ease;
                }
                .buttonAddProduct:hover{
                    cursor: pointer;
                    background-color: var(--colorHoverButton);
                }

@media (max-width: 768px) {
    .containerDetailProduct{
        flex-direction: column;
    }
        .containerImgDetail{
            width: 100%;
        }
        .containerDetails{
            width: 100%;
        }
    .containerAddButton{
        width: 100%;
    }
}