.containerOrderSuccess{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .containerTitleOrder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .imgCheck{
            height: 150px;
            width: 150px;
        }
        .pTitleOrder{
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 3vh;
        }

    .containerOrderDetails{
        box-shadow: var(--box-shadow);
        padding: 10px 10px;
        border-radius: 5px;
    }
        .titleDetails{
            font-size: 1.1rem;
            font-weight: 700;
        }

    .buttonBack{
        border: none;
        background-color: var(--color);
        color: var(--colorFont);
        font-weight: 500;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color .3s ease;
        text-decoration: none;
        padding: 5px 10px;
        margin-top: 5vh;
    }
        .buttonBack:hover{
            background-color: var(--colorHoverButton);
        }


@media (max-width: 768px) {
    .pTitleOrder{
        width: 90%;
        text-align: center;
    }
    .buttonBack{
        height: 55px;
        display: grid;
        place-items: center;
    }
}