.containerProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vw;
    padding: 4vw 4vw 2vh 4vw;
}

@media (max-width: 768px) {
    .containerProducts{
        grid-template-columns: repeat(2, 1fr);
    }
}