.containerAuthPage{
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
}
    .containerForm{
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .imgUser{
            height: 100px;
            width: 100px;
        }
        .pTitleAuth{
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 2vh;
        }
        .pIsLogin{
            margin-top: 20px;
            font-weight: 500;
        }
            .pIsLogin:hover{
                cursor: pointer;
                color: var(--color);
            }