.containerShopPage{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "filtersMobile sortBy"
                        "filters main";
}
    .containerFiltersCategories{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: start;
        position: relative;
        grid-area: filters;
        height: 100%;
    }

    .containerShopProducts{
        grid-area: main;
    }

@media (max-width: 768px) {
    .containerShopPage{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "filtersMobile sortBy"
                            "main main";
}
    .containerFiltersCategories{
        grid-area: filtersMobile;
    }
}