.containerUnauthorized{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .imgUnauthorized{
        height: 150px;
        width: 150px;
    }
    .titleUnauthorized{
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 15px;
    }
    .pUnauthorized{
        font-size: 1.1rem;
        margin-top: 10px;
    }
    .btnUnauthorized{
        border: none;
        height: 45px;
        background-color: var(--color);
        color: var(--colorFont);
        font-weight: 500;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color .3s ease;
        text-decoration: none;
        padding: 5px 10px;
        margin-top: 5vh;
    }
        .btnUnauthorized:hover{
            background-color: var(--colorHoverButton);
            cursor: pointer;
        }
    