.errorContainerUser{
    height: 80vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.containerUserPage{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 80vw;
}
    .containerOptions{
        display: flex;
        flex-direction: column;
        padding: 8vh 2vw;
    }
        .pTitleName{
            font-size: 1.3rem;
            font-weight: 500;
            padding-left: 10px;
            height: 13vh;
        }
        .buttonOptions{
            background: none;
            border: none;
            height: 40px;
            text-align: left;
            padding-left: 10px;
            margin-bottom: 10px;
            border-left: 4px solid transparent;
            font-size: .9rem;
        }
            .buttonOptions:hover{
                cursor: pointer;
            }
        .activeButton{
            border-left: 3px solid var(--color);
        }

    .containerData{
        padding: 8vh 2vw;
    }