.buttonAddProduct{
        width: 90%;
        height: 50%;
        border: none;
        background-color: var(--color);
        color: var(--colorFont);
        font-weight: 500;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color .3s ease;
    }
    .buttonAddProduct:hover{
        cursor: pointer;
        background-color: var(--colorHoverButton);
    }