.containerPagination{
    height: 15vh;
    width: 100%;
    display: grid;
    place-items: center;
}
    .buttonLoadMore{
        height: 50%;
        width: 20%;
        border: none;
        background-color: var(--color);
        color: var(--colorFont);
        font-weight: 500;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color .3s ease;
    }
    .buttonLoadMore:hover{
        cursor: pointer;
        background-color: var(--colorHoverButton);
    }
    
@media (max-width: 768px){
    .buttonLoadMore{
        width: 70%;
    }
}