.cardSkeleton {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 80px;
  width: 100%;
}

.imagePlaceholder {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  flex-shrink: 0;
}

.contentPlaceholder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleSkeleton { width: 60%; height: 15px; }
.stockSkeleton { width: 30%; height: 12px; }
.buttonSkeleton { width: 40px; height: 25px; border-radius: 15px; }


.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  to { background-position-x: -200%; }
}