.containerForm{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .productForm{
        height: 85%;
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid rgb(185, 185, 185);
        box-shadow: 0 2px 4px rgba(47, 50, 53, 0.24), 0 2px 6px rgba(49, 52, 54, 0.192);
        border-radius: 15px;
        transform-origin: center;
        
    }
        .containerCloseButton{
            height: 5%;
            text-align: right;
            margin-right: 1vw;
        }
            .closeButton{
                width: 20px;
                height: 20px;
                color: rgb(34, 34, 34);
                border: none;
                background: none;
            }
            .closeButton:hover{
                cursor: pointer;
                color: rgb(185, 185, 185);
            }

        .titleNewProduct{
            color: rgb(34, 34, 34);
            text-align: center;
            font-size: 1.2rem;
        }
        .containerImgEdit{
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .imgEdit{
                height: 80%;
            }
            .barCode{
                color: rgb(34, 34, 34);
                font-size: .8rem;
            }

        .containerInputs{
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .inputForm{
                width: 90%;
                height: 7%;
                margin-bottom: 2vh;
            }
            .textForm{
                resize: none;
            }
        
        .containerButtonSubmit{
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .buttonSubmit{
                width: 23%;
                height: 5vh;
                border-radius: 5px;
                border: 1px solid rgb(185, 185, 185);
                box-shadow: 0 2px 4px rgba(47, 50, 53, 0.24), 0 2px 6px rgba(49, 52, 54, 0.192);
            }
                .buttonSubmit:hover{
                    cursor: pointer;
                    border: none;
                }