.containerProductCard{
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 0 2px 4px rgba(47, 50, 53, 0.24), 0 2px 6px rgba(49, 52, 54, 0.192);
    display: flex;
    height: 12vh;
    border-radius: 5px;
    width: 22vw;
    transition: border .3s ease;
}
.containerProductCard:hover{
    cursor: pointer;
    border: none;
}
    .containerImgProduct{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .imgProduct{
            height: 80%;
            width: 90%;
        }

    .containerDetails{
        height: 100%;
        width: 70%;
    }
        .nameProduct{
            color: rgb(34, 34, 34);
            overflow: hidden;
            height: 40%;
            font-size: .9rem;
            margin-left: 5%;
            margin-top: 10%;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .containerStock{
            display: flex;
            justify-content: flex-end;
            width: 90%;
        }
            .stockProduct{
                color: rgb(34, 34, 34);
                font-size: .8rem;
                padding: 0 5%;
                border: 1px solid rgb(185, 185, 185);
                border-radius: 15px;
                text-align: center;
            }


@media (max-width: 768px) {
    .containerProductCard{
        width: 45vw;
    }
}