:root {
  color: rgb(34, 34, 34);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color: rgb(214, 33, 33);
  --colorFont: white;
  --colorPlaceholder: rgb(185, 185, 185);
  --colorHoverButton: rgb(148, 0, 0);
  --border: 1px solid rgb(185, 185, 185);
  --borderHover: 1px solid var(--color);
  --backgroundSelection: #f0f0f0;
  --box-shadow: 1px 1px 8px 2px rgba(180, 180, 180, 0.63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    overflow-y: scroll;
}

