
    .containerSearchAdmin{
        height: 10vh;
        width: 100%;
        background-color: var(--color);
        display: grid;
        place-items: center;
    }
    .containerFiltersCategories{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0 4vw;
    }
    .containerAdminProducts{
        width: 100%;
    }

@media (max-width: 768px) {
    .containerSearchAdmin{
        display: flex;
    }
}