.containerSearchAdmin{
    height: 10vh;
    width: 100%;
    background-color: var(--color);
    display: grid;
    place-items: center;
}

.containerOptionsAdmin{
    width: 100%;
    display: flex;
    justify-content: center;
}